%h2
  オークション名 :
  = @evaluation.auction.title
= simple_form_for([@evaluation.auction.category, @evaluation.auction, @evaluation]) do |f|
  = f.error_notification
  .form-controls
    = f.input :point, as: :radio_buttons, label: '出品者への評価を選択してください'
    = f.input :comment, label: '出品者へのコメントがあれば入力してください'
  .form-controls.pull-right
    = f.button :submit, '評価登録', class: 'btn btn-primary'
    = link_to 'キャンセル', [@evaluation.auction.category, @evaluation.auction], class: 'btn btn-default'
