- accepted_auctions = current_user.accepted_auctions.uniq

- if accepted_auctions.blank?
  %p.text-muted
    入札中のオークションはありません。
- else
  %table.table.table-striped
    %thead
      %th カテゴリ
      %th タイトル
      %th 開始日時
      %th 終了予定日時
      %th 出品者
      %th 落札価格
      %th 詳細
    %tbody
      - accepted_auctions.each do |auction|
        %tr
          %td= auction.category.name
          %td= auction.title
          %td= auction.open_at
          %td= auction.close_at
          %td= auction.user.email
          %td= "#{number_with_delimiter(auction.accepted_price)} 円"
          %td= link_to '詳細表示', [:my, auction], class: 'label label-primary'
