- closed_auctions = current_user.owned_auctions.closed

- if closed_auctions.blank?
  %p.text-muted
    終了したオークションはありません。
- else
  %table.table.table-striped
    %thead
      %th タイトル
      %th 開始日時
      %th 終了日時
      %th 落札者
      %th 落札価格
      %th 詳細
    %tbody
      - closed_auctions.each do |auction|
        %tr
          %td= auction.title
          %td= auction.open_at
          %td= auction.close_at
          - if auction.successful_bidder.blank?
            %td= auction.successful_bidder || '入札なし'
            %td
          - else
            %td= auction.successful_bidder
            %td= "#{number_with_delimiter(auction.accepted_price)} 円"
          %td= link_to '詳細表示', [:my, auction], class: 'label label-primary'
