= simple_form_for(@auction, url: [:my, @auction]) do |f|
  = f.error_notification
  .form-controls
    = f.input :category_id, as: :select, collection: Category.all
    = f.input :title
    = f.input :first_price
    .datetime-inputs
      = f.input :open_at
    .datetime-inputs
      = f.input :close_at
    = f.input :picture, as: :file
    = f.input :explanation, input_html: {rows: 10}
    = f.button :submit, id: 'js-auction-btn'
