- unopened_auctions = current_user.owned_auctions.in_ready

- if unopened_auctions.blank?
  %p.text-muted 出品予定のオークションはありません。
- else
  %table.table.table-striped.table-my-auction
    %thead
      %th カテゴリ
      %th タイトル
      %th 開始（予定）日時
      %th 終了予定日時
      %th 詳細
    %tbody
      - unopened_auctions.each do |auction|
        %tr
          %td= auction.category.name
          %td= auction.title
          %td= auction.open_at
          %td= auction.close_at
          %td= link_to '詳細表示', [:my, auction], class: 'label label-primary'
