%h1 マイ オークション

%hr

%div{role: 'tabpanel'}
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{'aria-controls' => 'unopened', 'data-toggle' => 'tab', href: '#unopened', role: 'tab'} 出品予定
    %li{:role => 'presentation'}
      %a{'aria-controls' => 'opened', 'data-toggle' => 'tab', href: '#opened', role: 'tab'} 出品中
    %li{:role => 'presentation'}
      %a{'aria-controls' => 'closed', 'data-toggle' => 'tab', href: '#closed', role: 'tab'} 完了
    %li{:role => 'presentation'}
      %a{'aria-controls' => 'bidding', 'data-toggle' => 'tab', href: '#bidding', role: 'tab'} 入札中
    %li{:role => 'presentation'}
      %a{'aria-controls' => 'accepted', 'data-toggle' => 'tab', href: '#accepted', role: 'tab'} 落札
  .tab-content
    #unopened.tab-pane.active{role: 'tabpanel'}
      = render 'unopened'
    #opened.tab-pane{role: 'tabpanel'}
      = render 'opened'
    #closed.tab-pane{role: 'tabpanel'}
      = render 'closed'
    #bidding.tab-pane{role: 'tabpanel'}
      = render 'bidding'
    #accepted.tab-pane{role: 'tabpanel'}
      = render 'accepted'

%hr

.buttons
  = link_to 'オークションの新規作成', new_my_auction_path, class: 'btn btn-primary'
