= render 'common/auctions/show'

%hr

.pull-right
  - if @auction.in_ready?
    = link_to '編集', [:edit, :my, @auction], class: 'btn btn-primary'
    = link_to '削除', [:my, @auction], method: :delete, class: 'btn btn-danger'
  - if @auction.closed
    = link_to 'この出品者を評価する', [:new, @auction.user_id, :evaluation], class: 'btn btn-primary btn-block'
  = link_to '戻る', [:my, :auctions], class: 'btn btn-default'
