= render 'common/auctions/messages/closed', auction: @auction if @auction.close?
= render 'common/auctions/messages/open', auction: @auction if @auction.open?

%h1
  = @auction.title

%hr

%h2
  商品の情報
.row
  .col-md-4
    %img{src: 'http://placeimg.com/300/240/tech'}
  .col-md-8
    %table.table.table-bordered
      %tr
        %th
          開始価格
        %td
          = "#{number_with_delimiter(@auction.first_price)} 円"
      %tr
        %th
          現在の最高入札価格
        %td
          %span.price
            - if @auction.bids.count.zero?
              %span.text-muted
                入札履歴がありません
            - else
              = number_with_delimiter(@auction.highest_price)
              円
            - if user_signed_in?
              - if @auction.biddable?(current_user.id)
                = link_to '入札する', [:new, @auction.category, @auction, :bid], class: 'label label-danger'
      %tr
        %th
          現在の入札件数
        %td
          = @auction.bids.count
          件
          - unless @auction.bids.count.zero?
            = link_to '入札履歴を見る', [@auction.category, @auction, :bids], class: 'label label-info'
      %tr
        %th
          オークション ID
        %td
          = @auction.id
      %tr
        %th
          出品者
        %td
          .auctioneer-name
            = @auction.user.email
            = link_to 'この出品者の全ての評価を見る', [@auction.user, :evaluations], class: 'label label-info'
          .auctioneer-evaluations
            %ul.list-inline
              %li
                %span.glyphicon.glyphicon-thumbs-up
                良い : 0
              %li
                %span.glyphicon.glyphicon-thumbs-down
                悪い : 0
      %tr
        %th
          オークション開始日時
        %td
          .datetime
            = @auction.open_at
      %tr
        %th
          オークション終了日時
        %td
          .datetime
            = @auction.close_at

%h2
  商品の説明

.explanation
  - if @auction.explanation.blank?
    %p.text-muted
      * このオークションには、説明文が登録されていません。
  - else
    = simple_format(@auction.explanation)
