%h1 オークション 一覧

%hr

.row
  .col-md-3
    .widget-title カテゴリ選択
    .list-group
      = link_to '全て', auctions_path, class: 'list-group-item active'
      - Category.order(:id).all.each do |category|
        = link_to category.name, '#', class: 'list-group-item'
  .col-md-9
    - if @auctions.blank?
      %p.text-muted 現在開催されているオークションは存在しません。
    - else
      - @auctions.each do |auction|
        .auction
          = link_to [auction] do
            %ul.list-inline
              %li
                %img.img-thumbnail{src: 'http://placeimg.com/150/120/tech'}
              %li
                %dl.dl-horizontal
                  %dt タイトル :
                  %dd= auction.title
                  %dt 現在の最高入札金額 :
                  %dd= "#{auction.highest_price} 円"
                  %dt 終了日時 :
                  %dd= auction.close_at
