= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :category
    = f.input :name
    = f.input :explanation

  .form-actions
    = f.button :submit
